.jqx-widget-zonphp {
    border-color: #222
}

/*.jqx-widget-content-zonphp{color:#222; border-color:#262626; background-color: #888; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px}*/
.jqx-widget-content-zonphp {
    color: #222;
    border-color: #262626;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px
}

.jqx-window-header-zonphp {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 5px;
    padding-top: 6px;
    padding-bottom: 4px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jqx-window-header-menu {
    border-top-left-radius: 8.9px;
    border-top-right-radius: 8.9px;
    padding: 5px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jqx-window-header-index-menu {
    border-top-left-radius: 9.5px;
    border-top-right-radius: 9.5px;
    border-bottom: 0px;
    border-bottom-left-radius: 9.5px;
    border-bottom-right-radius: 9.5px;
    padding-top: 5px;
    padding-bottom: 7px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jqx-window-header-index-zonphp {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 18px;
    padding-top: 6px;
}


.jqx-fill-state-normal-zonphp, .jqx-widget-header-zonphp {
    color: #ffe2ea;
    border-color: #000;
    background: #000 url(images/bg_black.png) left center scroll repeat-x
}

.jqx-fill-state-normal-zonphp, .jqx-widget-header-menu {
    color: #ffe2ea;
    border-color: #000;
    background: #000 url(images/bg_darkblue.png) left center scroll repeat-x
}

.jqx-fill-state-hover-zonphp {
    background: transparent url(images/bg_blackhover.png) left center scroll repeat-x;
    border-color: #262626;
    color: #fff
}

.jqx-fill-state-pressed-zonphp, .jqx-menu-item-top-hover-zonphp {
    background: transparent url(images/bg_blackpressed.png) left center scroll repeat-x;
    border-color: #262626;
    color: #fff
}

.jqx-checkbox-check-checked-zonphp {
    background: transparent url(images/check_white.png) left top no-repeat
}

.jqx-checkbox-check-indeterminate-zonphp {
    background: transparent url(images/check_indeterminate_white.png) left top no-repeat
}

.jqx-grid-zonphp, .jqx-grid-header-zonphp, .jqx-grid-cell-zonphp {
    border-color: #262626
}

.jqx-widget-zonphp .jqx-grid-cell-zonphp, .jqx-widget-zonphp .jqx-grid-group-cell-zonphp {
    border-color: #262626
}

.jqx-widget-zonphp .jqx-grid-column-menubutton-zonphp, .jqx-widget-zonphp .jqx-grid-column-sortascbutton-zonphp, .jqx-widget-zonphp .jqx-grid-column-sortdescbutton-zonphp, .jqx-widget-zonphp .jqx-grid-column-filterbutton-zonphp {
    border-color: #262626
}

.jqx-widget-zonphp .jqx-grid-column-header-zonphp {
    border-color: #262626
}

.jqx-grid-bottomright-zonphp, .jqx-panel-bottomright-zonphp, .jqx-listbox-bottomright-zonphp {
    background-color: #262626
}

.jqx-widget-zonphp .jqx-grid-column-menubutton-zonphp, .jqx-menu-vertical-zonphp {
    background-color: #262626;
    border-color: #262626
}

.jqx-grid-selectionarea-zonphp {
    background-color: #262626;
    border: 1px solid #262626;
    opacity: 0.5
}

.jqx-grid-group-cell-zonphp {
    border-color: #262626;
    background-color: #fff
}

.jqx-grid-cell-sort-zonphp, .jqx-grid-cell-filter-zonphp, .jqx-grid-cell-pinned-zonphp {
    background-color: #eaf8ff
}

.jqx-grid-cell-alt-zonphp, .jqx-grid-cell-sort-alt-zonphp, .jqx-grid-cell-filter-alt-zonphp {
    background-color: #deedf5
}

.jqx-grid-cell-selected-zonphp {
    background: #262626;
    color: #fff
}

.jqx-grid-cell-hover-zonphp {
    background: #646464;
    color: #fff
}

.jqx-menu-vertical-zonphp {
    background: #222;
    color: #fff;
}

.jqx-scrollbar-state-normal-zonphp {
    background: #555;
    border: 1px solid #555
}

.jqx-scrollbar-button-state-normal-zonphp {
    border: 1px solid #555;
    background: #555
}

.jqx-scrollbar-button-state-hover-zonphp {
    background: #555 url(images/bg_blackhover.png) left top scroll repeat-x;
    border: 1px solid #000
}

.jqx-scrollbar-button-state-pressed-zonphp {
    background: #555 url(images/bg_blackpressed.png) left top scroll repeat-x;
    border: 1px solid #000
}

.jqx-scrollbar-thumb-state-normal-horizontal-zonphp {
    background: #555 url(images/bg_black.png) left top scroll repeat-x;
    border: 1px solid #000
}

.jqx-scrollbar-thumb-state-hover-horizontal-zonphp {
    background: #555 url(images/bg_blackhover.png) left top scroll repeat-x;
    border: 1px solid #000
}

.jqx-scrollbar-thumb-state-pressed-horizontal-zonphp {
    background: #555 url(images/bg_blackpressed.png) left top scroll repeat-x;
    border: 1px solid #000
}

.jqx-scrollbar-thumb-state-normal-zonphp {
    background: #555 url(images/bg_black_horizontal.png) left top scroll repeat-x;
    border: 1px solid #000
}

.jqx-scrollbar-thumb-state-hover-zonphp {
    background: #555 url(images/bg_blackhover_horizontal.png) left top scroll repeat-x;
    border: 1px solid #000
}

.jqx-scrollbar-thumb-state-pressed-zonphp {
    background: #555 url(images/bg_blackpressed_horizontal.png) left top scroll repeat-x;
    border: 1px solid #000
}

.jqx-splitter-splitbar-horizontal-zonphp, .jqx-splitter-splitbar-vertical-zonphp, .jqx-splitter-splitbar-hover-zonphp, .jqx-splitter-splitbar-hover-horizontal-zonphp {
    background: #555;
}

.jqx-splitter-collapse-button-horizontal-zonphp, .jqx-splitter-collapse-button-vertical-zonphp {
    background: #7f7f7f;
}

.jqx-grid-column-sortascbutton-zonphp, .jqx-expander-arrow-bottom-zonphp, .jqx-window-collapse-button-zonphp, .jqx-menu-item-arrow-up-zonphp, .jqx-menu-item-arrow-up-selected-zonphp, .jqx-menu-item-arrow-top-up-zonphp, .jqx-icon-arrow-up-zonphp, .jqx-icon-arrow-up-hover-zonphp, .jqx-icon-arrow-up-selected-zonphp {
    background-image: url('images/icon-up-white.png');
    background-repeat: no-repeat;
    background-position: center
}

.jqx-grid-column-menubutton-zonphp, .jqx-grid-column-sortdescbutton-zonphp, .jqx-expander-arrow-top-zonphp, .jqx-window-collapse-button-collapsed-zonphp, .jqx-menu-item-arrow-down-zonphp, .jqx-menu-item-arrow-down-selected-zonphp, .jqx-menu-item-arrow-down-zonphp, .jqx-icon-arrow-down-zonphp, .jqx-icon-arrow-down-hover-zonphp, .jqx-icon-arrow-down-selected-zonphp {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center
}

.jqx-icon-arrow-left-zonphp {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center
}

.jqx-icon-arrow-right-zonphp {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center
}

.jqx-menu-item-arrow-left-zonphp {
    background-image: url('images/icon-left.png');
    background-repeat: no-repeat;
    background-position: center
}

.jqx-menu-item-arrow-right-zonphp {
    background-image: url('images/icon-right.png');
    background-repeat: no-repeat;
    background-position: center
}

.jqx-tabs-arrow-left-zonphp, .jqx-menu-item-arrow-left-selected-zonphp, .jqx-menu-item-arrow-top-left, .jqx-icon-arrow-down-left-zonphp, .jqx-icon-arrow-left-selected-zonphp {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center
}

.jqx-tabs-arrow-right-zonphp, .jqx-menu-item-arrow-right-selected-zonphp, .jqx-menu-item-arrow-top-right-zonphp, .jqx-icon-arrow-right-hover-zonphp, .jqx-icon-arrow-right-selected-zonphp {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center
}

.jqx-window-close-button-zonphp, .jqx-icon-close-zonphp, .jqx-tabs-close-button-zonphp, .jqx-tabs-close-button-hover-zonphp, .jqx-tabs-close-button-selected-zonphp {
    background-image: url(images/close_white.png);
    background-repeat: no-repeat;
    background-position: center
}

/*applied to the progressbar's value element*/
.jqx-progressbar-value-zonphp {
    background: #555;
}

.jqx-progressbar-value-vertical-zonphp {
    background: #555;
}

.jqx-icon-arrow-first-zonphp {
    background-image: url('images/icon-first-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-icon-arrow-last-zonphp {
    background-image: url('images/icon-last-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-grid-group-expand-zonphp, .jqx-grid-cell-zonphp > .jqx-grid-group-expand-zonphp, .jqx-tree-item-arrow-expand-zonphp {
    background-image: url('images/icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-grid-group-collapse-zonphp, .jqx-grid-cell-zonphp > .jqx-grid-group-collapse-zonphp, .jqx-tree-item-arrow-collapse-zonphp {
    background-image: url('images/icon-right.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-grid-group-collapse-rtl-zonphp, .jqx-grid-cell-zonphp > .jqx-grid-group-collapse-rtl-zonphp, .jqx-tree-item-arrow-collapse-rtl-zonphp {
    background-image: url('images/icon-left.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-grid-group-expand-rtl-zonphp, .jqx-grid-cell-zonphp > .jqx-grid-group-expand-rtl-zonphp {
    background-image: url('images/icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-date-time-input-popup-zonphp .jqx-icon-arrow-down-zonphp {
    background-image: url('images/icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-date-time-input-popup-zonphp .jqx-icon-arrow-up-zonphp {
    background-image: url('images/icon-up.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-grid-cell-zonphp.jqx-grid-cell-selected-zonphp > .jqx-grid-group-expand-zonphp,
.jqx-grid-cell-zonphp.jqx-grid-cell-hover-zonphp > .jqx-grid-group-expand-zonphp {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-grid-cell-zonphp.jqx-grid-cell-selected-zonphp > .jqx-grid-group-collapse-zonphp,
.jqx-grid-cell-zonphp.jqx-grid-cell-hover-zonphp > .jqx-grid-group-collapse-zonphp {
    background-image: url('images/icon-right-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-grid-cell-zonphp.jqx-grid-cell-selected-zonphp > .jqx-grid-group-collapse-rtl-zonphp,
.jqx-grid-cell-zonphp.jqx-grid-cell-hover-zonphp > .jqx-grid-group-collapse-rtl-zonphp {
    background-image: url('images/icon-left-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-grid-cell-zonphp.jqx-grid-cell-selected-zonphp > .jqx-grid-group-expand-rtl-zonphp,
.jqx-grid-cell-zonphp.jqx-grid-cell-hover-zonphp > .jqx-grid-group-expand-rtl-zonphp {
    background-image: url('images/icon-down-white.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-icon-search-zonphp {
    background-image: url(images/search_white.png);
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-icon-calendar-zonphp, .jqx-icon-calendar-hover-zonphp, .jqx-icon-calendar-pressed-zonphp {
    background-image: url('images/icon-calendar-white.png');
}

.jqx-icon-time-zonphp, .jqx-icon-time-hover-zonphp, .jqx-icon-time-pressed-zonphp {
    background-image: url('images/icon-time-white.png');
}

.jqx-icon-delete-zonphp {
    background-image: url('images/icon-delete-white.png');
}

.jqx-icon-edit-zonphp {
    background-image: url('images/icon-edit-white.png');
}

.jqx-icon-save-zonphp {
    background-image: url('images/icon-save-white.png');
}

.jqx-icon-cancel-zonphp {
    background-image: url('images/icon-cancel-white.png');
}

.jqx-icon-search-zonphp {
    background-image: url(images/search_white.png);
}

.jqx-icon-plus-zonphp {
    background-image: url(images/plus_white.png);
}

.jqx-menu-minimized-button-zonphp {
    background-image: url('images/icon-menu-minimized-white.png');
}

.jqx-editor-toolbar-icon-zonphp {
    background: url('images/html_editor_white.png') no-repeat;
}

.jqx-layout-zonphp {
    background-color: #000;
}

.jqx-layout-pseudo-window-pin-icon-zonphp {
    background-image: url("images/pin-white.png");
}

.jqx-layout-pseudo-window-pinned-icon-zonphp {
    background-image: url("images/pinned-white.png");
}

.jqx-scheduler-month-cell-zonphp, .jqx-scheduler-time-column-zonphp, .jqx-scheduler-toolbar-zonphp {
    background: #35353A !important;
    color: #fff !important;
}

.jqx-widget-zonphp .jqx-scheduler-middle-cell-zonphp, .jqx-scheduler-middle-cell-zonphp {
    border-bottom-color: #35353A !important;
}

.jqx-kanban-item-zonphp {
    box-shadow: none;
}