#page-content, #content {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 20px;
    text-align: left;
    ;
}

#footer {
    height: 35px;
    border-bottom-left-radius: 9.5px;
    border-bottom-right-radius: 9.5px;
    padding-top: 10px;
    padding-left: 20px;
    color: black;
    text-align: left;
    font: 12px Verdana, Arial, Helvetica, sans-serif;
}

#footer_index #footer {
    border-radius: 9.5px;
}

.smallCharts {
    width: 440px;
    min-width: 440px;
    height: 420px;
    float: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 8pt;
    margin: 3px;
}

.bigCharts {
    float: left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 8pt;
    margin-bottom: 15px;
    margin-left: 5px;
    width: 98%;
    color: #2ac06d;
}

.highcharts-container {
    border-bottom-right-radius: 9.5px;
    border-bottom-left-radius: 9.5px;
}

#resize {
    float: none;
    height: inherit;
    height: 600px;
    padding: 0 1px 1px 0;
    margin-top: 10px;

    height: 100%;
}

.index_chart {
    width: 433px;
    height: 370px;
    margin-top: 0px;
    float: left;
}

a {
    text-decoration: none;
    color: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    font: 1em/1.75 Verdana, Arial, Helvetica, sans-serif
}

body {
    overflow-x: hidden;
}

#header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    background: #222
}


#header label:hover {
    color: #95ce24
}


.toggle {
    position: absolute;
    left: 4px;
    top: -5px;
    cursor: pointer;
    color: #fff
}

.container {
    /*min-height: 100%;*/
    height: auto;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    transition: transform .25s ease
}

.theme {
    width: 28px;
    height: 21px;
    margin-bottom: 0px;
    margin-top: 0px;
    
}

.flag {
    width: 20px;
    height: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
    
}

.flag.flag-fr {
    background: url('../image/fr.svg') no-repeat;
    position: absolute;
    top: 0px;
    left: 300px;
}

.flag.flag-gb {
    background: url('../image/en.svg') no-repeat;
    position: absolute;
    top: 0px;
    left: 275px;
}

.flag.flag-nl {
    background: url('../image/nl.svg') no-repeat;
    position: absolute;
    top: 0px;
    left: 250px;
}

.flag.flag-de {
    background: url('../image/de.svg') no-repeat;
    position: absolute;
    top: 0px;
    left: 325px;
}

/*  dropdown stuff*/

.h1, h1 {
    font-size: 16px !important;
    font-weight: bolder;
}

.h2, h2 {
    font-size: 12pt;
    padding: 12px;
    font-weight: bolder;
    line-height: 0px;
    margin-bottom: 0px;
}

/* styles for muuri */
.grid {
    position: relative;
    width: 100%;
    left: 0px;
    margin: 0 0px;
    box-sizing: content-box;
}

.item {
    position: absolute;
    width: 437px;
    height: 403px;
    margin-right: 5px;
    padding-bottom: 5px;
    z-index: 1;
    transition: opacity 0.8s linear 1s;
    will-change: transform;

    color: transparent;
}

.item.muuri-item-positioning {
    z-index: 2;
}

.item.muuri-item-dragging,
.item.muuri-item-releasing {
    z-index: 9999;
}

.item.muuri-item-dragging {
    cursor: move;
}

.item.muuri-item-hidden {
    z-index: 0;
}

.item.h2 {
    height: 420px;
    line-height: 420px;
}

.item.w2 {
    width: 220px;
}

.item-content {
    position: relative;
    width: 100%;
    height: 101%;
}

.card {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    background-color: transparent;
    border: 2px solid;
    color: black;
    border-radius: 8px;
    transition: all 0.2s ease-out;
}

.card-id {
    position: absolute;
    left: 7px;
    top: 0;
    height: 30px;
    line-height: 30px;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}

.card-remove {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    transform: scale(0);
    transition: all 0.15s ease-out;
}

.card:hover > .card-remove {
    transform: scale(1);
}

.btn-zonphp {
    background-color: #286090;
    border-radius: 0.375rem !important;
    color: #fff;
    padding: 3px 11px;
    margin-bottom: 0;
    font-size: 13px;
}

.btn-zonphp:hover {
    background-color: #286090 !important;
    color: #ffffff !important;
}

.buttonbox {
    display: inline-block;
}

.inner {
    display: inline-block;
    vertical-align: middle;
    padding: 3px 5px;
}

.block2 {
    position: absolute !important;
    left: 15px !important;
}

.block2:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.block2 {
    background-clip: padding-box;
}

#menu_header_index {
    border-bottom-left-radius: 9.5px;
    border-bottom-right-radius: 9.5px;
    height: 55px;
}

@media only screen and (max-width: 929px) and (min-width: 500px) {
    #footer_index, #menu_header_index {
        width: 440px;
    }

    #headerinverter {
        display: none;
    }
    .smallFooter {
        display: none;
    }
}

@media only screen and (max-width: 1360px) and (min-width: 930px) {
    #footer_index, #menu_header_index {
        width: 878px;
    }
}

@media only screen and (max-width: 1860px) and (min-width: 1360px) {
    #footer_index, #menu_header_index {
        width: 1320px;
    }
}

@media only screen and (max-width: 2260px) and (min-width: 1809px) {
    #footer_index, #menu_header_index {
        width: 1760px;
    }
}

@media only screen and (max-width: 2660px) and (min-width: 2250px) {
    #footer_index, #menu_header_index {
        width: 2210px;
    }
}

@media only screen and (max-width: 3060px) and (min-width: 2318px) {
    #footer_index, #menu_header_index {
        width: 2656px;
    }
}

@media only screen and (max-width: 993px)  {
    #headerinverter {
        padding-top: 9px;
    }
}

@media screen and (min-width: 593px) {
    .dropdown .dropdown-menu.show {
        display: none !important;
    }

    .dropdown:hover .dropdown-menu {
        display: block !important;
    }

    .dropdown:focus .dropdown-menu {
        display: block !important;
    }
}

/*------------------*/

#menu_header .navbar {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 45px;
    width: 100%;
}

.navbar {
    border-radius: 9.5px;
    height: 45px;
    width: 100%;
}

.dropdown-item {
    padding-left: 5px;
    padding-right: 5px;
}

.dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
}

.dropdown-toggle::after {
    content: none;
}
