#bodytextparm {
    width: 700px;
    background: #EFEFEF;
    font-size: 12px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #C00000;
    padding: 1px;
    font-family: Verdana, Arial, Helvetica, sans-serif, Trebuchet;
}

#menus {
    float: left;
    width: 200px;
}

#container {
    margin-left: 200px;
    padding: 0;
}

#bodytext {
    width: 700px;
    background: #EFEFEF;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #C00000;
    padding: 1px;
}

.inside {

    background: #EFEFEF; /* YCC: background-color of the inside */
    color: #000000; /* YCC: default text-color of the inside */
    padding-left: 10px; /* YCC: all texts at some distance of the left border */
    padding-right: 0; /* YCC: all texts at some distance of the right border */
    margin-top: 0;
}

.inside ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif, Trebuchet;
    font-size: 13px;
}

.inside ul a {
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 0;
    margin: 0;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
}

#container1 {
    background: #EFEFEF;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #C00000;
    padding: 1px;
    width: 160px;
}

TABLE {
    border-collapse: collapse;
    font-family: Verdana, Arial, Helvetica, sans-serif, Trebuchet;
    background-color: #F0F8FF;
    text-align: center;
    empty-cells: hide;
}

TABLE.count {
    border-collapse: collapse;
    font-family: Verdana, Arial, Helvetica, sans-serif, Trebuchet;
    text-align: left;
    background: transparent;
}

TD {
    border: 1px solid #000000;
    padding: 0;
}

TH {
    border: 1px solid #000000;
    padding: 0;
}

TD a {
    color: #000000;
    text-decoration: none;
    display: block;
}

TD:hover a {
    text-align: center;
    font-weight: bold;
    background-color: #F0F8FF;
    width: auto;

}

#nav, #nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#nav ul {
    margin: -1em 0 0 5em;
    position: absolute;
    left: -1000px;
    background: #EFEFEF;
    border: 1px solid #C00000;
    width: 160px;
}

#nav li:hover ul, #nav li.ie_does_hover ul {
    left: auto;
    background-position: 0 0;
    z-index: 1;
}

#nav a {
    display: block;
}

#container1 {
    margin-left: 10px;
    width: 160px;
}

.flag {
    display: inline-block;
    width: 16px;
    height: 11px;
    margin-bottom: 0px;
    background: url('../inc/images/flags.png') no-repeat;
}

.flag.flag-fr {
    background-position: 0 -11px;
}

.flag.flag-gb {
    background-position: -16px -11px;
}

.flag.flag-be {
    background-position: -16px 0;
}

.flag.flag-nl {
    background-position: -32px -11px;
}

.flag.flag-de {
    background-position: -32px 0;
}
