#bodytextparm {
    width: 700px;
    background: #EFEFEF;
    font-size: 12px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #C00000;
    padding: 1px;
    font-family: Verdana, Arial, Helvetica, sans-serif, Trebuchet;
}

#menus {
    float: left;
    width: 200px;
}

#container {
    margin-left: 200px;
    padding: 0;
}

#bodytext {
    width: 95%;
    background: #EFEFEF;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #C00000;
    padding: 1px;
}

.inside {

    background: #EFEFEF; /* YCC: background-color of the inside */
    color: #000000; /* YCC: default text-color of the inside */
    padding-left: 10px; /* YCC: all texts at some distance of the left border */
    padding-right: 0; /* YCC: all texts at some distance of the right border */
    margin-top: 0;
}

.inside ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif, Trebuchet;
    font-size: 13px;
}

.inside ul a {
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 0;
    margin: 0;
}

pre {
    display: block;
    font-family: monospace;
    font-size: 8pt;
    white-space: pre;
    margin: .1em 0;
}

pre p {
    margin: 0 10px;
    height: 0px;
}

body {
    font-family: sans-serif;
}

#container1 {
    background: #EFEFEF;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #C00000;
    padding: 1px;
    width: 160px;
}

table {
    border-collapse: collapse;
    border: 0;
    width: 934px;
    box-shadow: 1px 2px 3px #ccc;
}

.center {
    text-align: center;
}

.center table {
    margin: 1em auto;
    text-align: left;
}

.center th {
    text-align: center !important;
}

td, th {
    border: 1px solid #666;
    font-size: 9pt;
    vertical-align: baseline;
    padding: 4px 5px;
}

th {
    position: sticky;
    top: 0;
    background: inherit;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 125%;
}

.p {
    text-align: left;
}

.e {
    background-color: #ccf;
    width: 300px;
    font-weight: bold;
}

.h {
    background-color: #99c;
    font-weight: bold;
}

.v {
    background-color: #ddd;
    max-width: 300px;
    overflow-x: auto;
    word-wrap: break-word;
}

.v i {
    color: #999;
}

#nav, #nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#nav ul {
    margin: -1em 0 0 5em;
    position: absolute;
    left: -1000px;
    background: #EFEFEF;
    border: 1px solid #C00000;
    width: 160px;
}

#nav li:hover ul, #nav li.ie_does_hover ul {
    left: auto;
    background-position: 0 0;
    z-index: 1;
}

#nav a {
    display: block;
}

#container1 {
    margin-left: 10px;
    width: 160px;
}

.flag {
    display: inline-block;
    width: 16px;
    height: 11px;
    margin-bottom: 0px;
    background: url('../inc/images/flags.png') no-repeat;
}

.flag.flag-fr {
    background-position: 0 -11px;
}

.flag.flag-gb {
    background-position: -16px -11px;
}

.flag.flag-be {
    background-position: -16px 0;
}

.flag.flag-nl {
    background-position: -32px -11px;
}

.flag.flag-de {
    background-position: -32px 0;
}

table {
    font-size: 8pt;
}